<div class="full">
    <menu-component></menu-component>
    <message-component ref='messageBox'></message-component>

    <div class="container rounded-border white mt-1 ">


        <div class="row">

            <div class="col s12">
                <p class="title cyan-text text-darken-4"><i class="material-icons left">smartphone</i>Dispositivos</p>
            </div>

            <div class="col s12">

                <table>
                    <tbody>
                        <tr v-for="device in devices">
                            <td @mousedown="start(device)" @mouseleave="stop" @mouseup="stop"
                                @touchstart="start(device)" @touchend="stop" @touchcancel="stop"
                                @click="persistDevice(device)" v-bind:class="[{ 'w-80': isAndroid }, 'w-100']"
                                class="ellipsis waves-effect">
                                <span class="">
                                    <i class="material-icons grey-text left">{{device.deviceType}}</i>
                                    {{device.description}}
                                </span>
                            </td>
                            <td @click="startLocation(device)" v-if="isAndroid" class="ellipsis waves-effect w-20">
                                <span class="">
                                    <i @click="startLocation(device)"
                                        class="material-icons right cyan-text text-darken-4">play_arrow</i>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="fixed-action-btn">
                <a @click="persistDevice()" class="btn-floating btn-large cyan darken-4">
                    <i class="large material-icons">add</i>
                </a>
            </div>

        </div>

    </div>

    <loader-component v-bind:isActive="showLoader" v-bind:message="loaderMessage" />
</div>