html,
body,
#app,
.full {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

/* Like Bootstrap */

.p-3 {
  padding: 3rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.float-right {
  float: right !important;
}

.full-logo {
  width: 20rem;
}

.rounded-border {
  border-radius: 0.2rem;
}

.nav-logo {
  height: 4.4rem;
}

.ellipsis {
  position: relative;
}
.ellipsis:before {
  content: "&nbsp;";
  visibility: hidden;
}
.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: 600;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.title i {
  font-size: 2.2rem;
}

.map {
  width: 100%;
  height: 300px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.ontop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-logo {
  filter: invert(9%);
}

.map-bg {
  background: url(../img/map.png) center center;
  background-size: cover;
}

.toggle-map {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0.3rem;
  z-index: 99;
}

.bold {
  font-weight: 500;
}

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 999;
}

.container {
  padding-top: 4rem;
}

.message-top {
  z-index: 9999;
}

.transparency-50 {
  opacity: 0.5;
}

.transparency-0 {
  opacity: 1 !important;
}

.msg-bg {
  z-index: 9999;
  background: #ff030311;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none !important;
}
